
/* Hero Section */
#hero {
			position: relative;
			background-color: rgb(255, 255, 255);
			width: 105%;
			max-width: 100%; 
			margin: 0; 
			top: 20%;
			left: -1%;
		}
		.image {
			display: block;
            left: 0%;
			top: 2%;
			opacity: 0.4;
			width: 101.8%;
			height: 400px;
			background-color: #000000;
			border-radius: 5px;
		}
		.text {
			position: absolute;
			top: 80%;
			left: 59%;
			transform: translate(-50%, -50%);
			color: #000000; 
			font-size: 2rem; 
			font-weight: bold;
			width: 100%;
			max-width: 600px;
		}
		.quote{
			position:absolute;
			top: 54%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #000000; 
    	    font-size: 2rem; 
			font-weight: bold;
			text-align: center;
			width: 100%;
			max-width: 550px;
		}
		.logo{
            position: absolute;
            top: 21%;
			left: 49%;
			transform: translate(-50%, -50%);
			color: #000000;
			font-size: 2rem; 
			font-weight: bold;
			text-align: center;
			width: 25%;
			max-width: 800px;
             
            opacity: 1; 
        }





/* Explore section */
      .box {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
        background-color: cornsilk;
        transition: box-shadow 0.3s ease-in-out;
      }
      .box:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
      }
      .box img {
        width: 100%;
        height: auto;
        display: block;
      }
      .box .title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
      }
      .box .description {
        font-size: 14px;
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
      }
      .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }








/* Teachers */
.teachers {
    padding: 40px 0;
    text-align: center;
    transition:0.5s;
    position:relative;
}
.teachers:hover{
    background:var(--clr);
    box-shadow:0 0 35px var(--clr);
}

.border {
    width: 160px;
    height: 5px;
    background: #f2be55;
    margin: 26px auto;
}

.teacher {

    margin: 10px;
    margin-bottom: 50px;
    width: 350px;
    height: 300px;
    padding: 20px;
    line-height: 20px;
    transition: all .2s ease-in-out;
}


.teacher:hover {
    transform: scale(1.02);
}
/* Review */
.testimonials {
    padding: 40px 0;
}



.border {
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.testimonial {
    background: #dbf6f8;
    margin: 10px;
    margin-bottom: 50px;
    width: 400px;
    height: 250px;
    padding: 20px;
    line-height: 20px;
    transition: all .2s ease-in-out;
}

.testimonial>svg {
    width: 300px;
    height: 300px;
    flex-grow: 1;
    border-radius: 50%;
    margin-top: -110px;
}

.testimonial_right{
    margin-left: 20px;
    margin-top: 15px;
}

.testimonial_description {
    margin-top: 21px;
    
}

.testimonial_name {
    margin-left:0px;
    margin-top: -1px;
}

.testimonial:hover {
    transform: scale(1.02);
}
